/*
*Chloe Wenner
*5/7/19
*Girl Develop It
*/

/* The universal selector*?

* {
} 
/* Body properties here */

body {
background-color: mistyrose;/*changes color to the whole web page*/
width: 55%;/*Makes information on page 55% as the width*/
margin: auto;/*centers web page*/
}

header{
background-color: #ff6666/*changes the background color to a */;
text-align: center;/*centers the logo*/
}

h1{
text-decoration: underline; /*underlines the h1*/
font-family: cursive;
}  

h2{
text-decoration: underline;/*underlines the h2*/
font-family: cursive;
}

img{
float: right; /*floats the image to the right*/
}

#logo{
float: none;/*taked the float away from a logo*/
}

main{
font-family: sans-serif;/*changes the whole main section to a different font*/
}

footer{
font-family: serif;/*changes the whole main section to a different font*/
}

a:hover, a:focus{
color: fuchsia;
font-size: 150%;
/*when mouse hovers over links they change size and color*/    
}